<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h3>Submit New User</h3>
    <form method="post" action="/userAdded">
      Name:<br>
      <input type="text" name="name"><br>
      Email:<br>
      <input type="text" name="email"><br>
      Web Address:<br>
      <input type="text" name="url"><br>
      Profile Pic URL:<br>
      <input type="text" name="photo"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
